{% load i18n %}
{% block preform %}{% endblock %}
    {% if form.non_field_errors %}{{ form.non_field_errors }}{% endif %}
    {% for field in form.visible_fields %}
        <span class="field {{ field.field.widget.name }}{% if field.errors %} error{% endif %}{% if field.field.required %} required{% endif %}">
            {% if field.field.widget.name == "checkboxinput" %}
                <span>
                    {{ field }}
                    {% if field.field.label %}{{ field.label_tag }}{% endif %}
                </span>
            {% else %}
                {% if field.field.label %}{{ field.label_tag }}{% endif %}
                {{ field }}
            {% endif %}

            {% if field.help_text and field.extended_help %}
                <p class="help"><a class="toggle_extended_help" href="#">{{ field.help_text|safe }}</a></p>
                <div class="extended_help">{{ field.extended_help|safe }}</div>
                <div class="extended_help content">{{ field.extended_help }}</div>
            {% else %}
                {% if field.help_text %}<p class="help">{{ field.help_text|safe }}</p>{% endif %}
            {% endif %}
            {{ field.errors }}
        </span>
    {% endfor %}
    {% for field in form.hidden_fields %}
        <div class="hidden">{{ field }}</div>
    {% endfor %}
{% block bottom %}{% endblock %}

