{% extends "base.html" %}
{% load i18n utils %}

{% block sidebar %}
	<ul class="navigation">
		<li {% if request|is_active:"provisioning:index" %}class="active"{% endif %}><a href="{% url provisioning:index %}">{% trans "Overview" %}</a></li>
		<li {% if request|is_active:"provisioning:serverconfiguration-index" %}class="active"{% endif %}><a href="{% url provisioning:serverconfiguration-index %}">{% trans "Server Configurations" %}</a></li>
		<li {% if request|is_active:"provisioning:site-index" %}class="active"{% endif %}><a href="{% url provisioning:site-index %}">{% trans "Sites" %}</a></li>
		<li {% if request|is_active:"provisioning:keypairs-index" %}class="active"{% endif %}><a href="{% url provisioning:keypairs-index %}">{% trans "SSH Keys" %}</a></li>
	</ul>
{% endblock %}




