{% extends "provisioning/base.html" %}
{% load i18n %}

{% block breadcrumb %}
	<strong>{% trans "Manage Servers" %}</strong>
{% endblock %}

{% block primary %}
	<div class="servers">
		<div class="layer">
			<div class="wrap">
				<div class="legend"><h3>Proxy</h3></div>
				<div class="web server ()">
					<h4>Haproxy <span>140.178.50.57</span></h4>
					<div class="actions">
						<ul>
							<li><span class="icon-details icon btn ()"><a href="/configurations/apache2/">View Configuration</a></span></li>
							<li><span class="icon-add icon btn ()"><a href="/servers/140-178-51.2/add/">Add Instance</a></span></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="layer dmz">
			<div class="wrap">
				<div class="legend"><h3>Web Servers</h3></div>
				<div class="web server ()">
					<h4>Apache2 <span>140.178.51.2</span></h4>
					<div class="actions">
						<ul>
							<li><span class="icon-details icon btn ()"><a href="/configurations/apache2/">View Configuration</a></span></li>
							<li><span class="icon-add icon btn ()"><a href="/servers/140-178-51.2/add/">Add Instance</a></span></li>
						</ul>
					</div>
				</div>
				<div class="web server ()">
					<h4>Apache2 <span>140.178.51.3</span></h4>
					<div class="actions">
						<ul>
							<li><span class="icon-details icon btn ()"><a href="/configurations/apache2/">View Configuration</a></span></li>
							<li><span class="icon-add icon btn ()"><a href="/servers/140-178-51.2/add/">Add Instance</a></span></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="layer dmz">
			<div class="wrap">
				<div class="legend"><h3>Database Servers</h3></div>
				<div class="database server ()">
					<h4>Postgres (Master) <span>140.178.54.201</span></h4>
					<div class="actions">
						<ul>
							<li><span class="btn"><a href="/configurations/apache2/">View Configuration</a></span></li>
							<li><span class="btn"><a href="/servers/140-178-51.2/add/">Add Instance</a></span></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="layer-form">
			<div class="wrap">
				<form class="inline-form">
					<input type="text" /><span class="primary small btn ()"><input type="submit" value="New Layer" /></span>
					</form>
			</div>
		</div>
	</div>
	<div class="server-legend">
		<dl>
			<dt>
				<div class="layer">
					<div class="wrap">
						&nbsp;
					</div>
				</div>
			</dt>
			<dd>
				Accessible from the internet
			</dd>
			
			<dt>
				<div class="layer dmz ()">
					<div class="wrap">
						&nbsp;
					</div>
				</div>
			</dt>
			<dd>
				Not directly accessible from the internet
			</dd>
		</dl>
	</div>
	
{% endblock %}

{% block secondary %}
	
{% endblock %}