{% extends "provisioning/base.html" %}
{% load i18n utils %}


{% block breadcrumb %}
	<a href="{% url provisioning:index %}">{% trans "Manage Servers" %}</a> &raquo;
	<strong>{% trans "Configurations" %}</strong>
{% endblock %}

{% block primary %}
	<div class="serverconfigurations">
		<h2>Server configurations</h2>

		{% if configs %}
		<table>
			<thead>
				<th>Name</th>
				<th>AMI</th>
				<th>Architecture</th>
			</thead>
			<tbody>
	 		{% for config in configs %}
				<tr>
					<td><a href="{% url provisioning:serverconfiguration-edit config.slug %}">{{config.name}}</a></td>
					<td>{{config.base_image}}</td>
					<td>{{config.base_image_architecture}}</td>
				</tr>
	 		{% endfor %}
			</tbody>
		</table>
		{% else %}
		<div class="notice info ()">
			<div class="wrap">
				<h3>{% trans "No server configurations were found." %}</h3>
			</div>
		</div>
		{% endif %}

		<div class="actions">
			<span class="primary btn ()"><a href="{% url provisioning:serverconfiguration-add %}">{% trans "New Server Configuration" %}</a></span>
		</div>
	</div>
{% endblock %}
	