{% extends "provisioning/base.html" %}
{% load i18n utils %}

{% block breadcrumb %}
	<a href="{% url provisioning:index %}">{% trans "Manage Servers" %}</a> &raquo;
	<a href="{% url provisioning:serverconfiguration-index %}">{% trans "Configurations" %}</a> &raquo;
	<strong>{{ config.name }}</strong>
{% endblock %}

{% block primary %}
	<div class="serverconfigurations">
		<h2>{% trans "Edit" %} {{ config.name }}</h2>
		<form action="" method="post" class="form">
	        {% csrf_token %}	
			<fieldset>
				<h3>{% trans "General settings" %}</h3>
		        <div class="form-row">
		            {{ form|formfields:"name" }}
		        </div>
				<div class="form-row">
		            {{ form|formfields:"icon_style" }}
		        </div>
			</fieldset>
			<fieldset>
				<h3>{% trans "EC2 settings" %}</h3>
				<div class="form-row">
		            {{ form|formfields:"base_image,public_key" }}
		        </div>
				<div class="form-row">
				        <span class="field">
				        	<label>AMI name</label>
				        	<p class="value">{{config.base_image_name}}</p>
				        </span>
				</div>
				<div class="form-row">
		            <span class="field">
			        	<label>AMI architecture</label>
			        	<p class="value">{{config.base_image_architecture}}</p>
			        </span>
		        </div>
			</fieldset>

	        <div class="actions">
				<span class="primary btn ()"><input type="submit" value="Save" /></span>
				<span class="secondary btn ()"><a href="{% url provisioning:serverconfiguration-delete config.slug %}">{% trans "Delete"%}</a></span>
	        </div>
	    </form>
	</div>
	
{% endblock %}