{% extends "management/base.html" %}
{% load i18n utils %}

{% block breadcrumb %}
	<a href="{% url management:index %}">{% trans "Manage Servers" %}</a> &raquo;
	<a href="{% url management:serverimage-index %}">{% trans "Server Images" %}</a> &raquo;
	<strong>{% trans "New Server Image" %}</strong>
{% endblock %}

{% block primary %}
	<div class="serverimages">
		<h2>{% trans "New Server Image" %}</h2>
		<form action="" method="post" class="form">
	        {% csrf_token %}	
			<fieldset>
				<h3>{% trans "General settings" %}</h3>
		        <div class="form-row">
		            {{ form|formfields:"name" }}
		        </div>
				<div class="form-row">
		            {{ form|formfields:"icon_style" }}
		        </div>
			</fieldset>
			<fieldset>
				<h3>{% trans "EC2 settings" %}</h3>
				<div class="form-row">
		            {{ form|formfields:"base_image,public_key" }}
		        </div>
			</fieldset>

	        <div class="actions">
				<span class="primary btn ()"><input type="submit" value="Save" /></a></span>
	        </div>
	    </form>
	</div>
	
{% endblock %}