{% extends "management/base.html" %}
{% load i18n utils %}


{% block breadcrumb %}
	<a href="{% url management:index %}">{% trans "Manage Servers" %}</a> &raquo;
	<strong>{% trans "Server Images" %}</strong>
{% endblock %}

{% block primary %}
	<div class="serverimages">
		<h2>Server images</h2>
		
		{% if configs %}
		<table>
			<thead>
				<th>Name</th>
				<th>AMI</th>
				<th>Architecture</th>
			</thead>
			<tbody>
	 		{% for config in configs %}
				<tr>
					<td><a href="{% url management:serverimage-edit config.slug %}">{{config.name}}</a></td>
					<td>{{config.base_image}}</td>
					<td>{{config.base_image_architecture}}</td>
				</tr>
	 		{% endfor %}
			</tbody>
		</table>
		{% else %}
		<div class="notice info ()">
			<div class="wrap">
				<h3>{% trans "No server images were found." %}</h3>
			</div>
		</div>
		{% endif %}

		<div class="actions">
			<span class="primary btn ()"><a href="{% url management:serverimage-add %}">{% trans "New Server Image" %}</a></span>
		</div>
	</div>
{% endblock %}
	