{% extends "management/base.html" %}
{% load i18n utils %}


{% block breadcrumb %}
	<a href="{% url management:index %}">{% trans "Manage Servers" %}</a> &raquo;
	<strong>{% trans "Server Images" %}</strong>
{% endblock %}

{% block primary %}
	<div class="serverimages">
		<h2>Server Images</h2>
		
		{% if images %}
		<table>
			<thead>
				<th>AMI</th>
				<th>Name</th>
				<th>Public</th>
				<th>Region</th>
				<th>Instances</th>
				<th>Type</th>
				<th>Architecture</th>
			</thead>
			<tbody>
	 		{% for image in images %}
				<tr>
					<td><a href="{% url management:serverimage-manage image.ami.id %}">{{image.ami.id}}</a></td>
					<td>{{image.name}}</td>
					<td>{% if image.ami.is_public %}Yes{% else %}No{% endif %}</td>
					<td>{{image.ami.region.name}}</td>
					<td>{{image.instance_count}}</td>
					<td>{{image.ami.root_device_type}}</td>
					<td>{{image.ami.architecture}}</td>
				</tr>
	 		{% endfor %}
			</tbody>
		</table>
		{% else %}
		<div class="notice info ()">
			<div class="wrap">
				<h3>{% trans "No server images were found." %}</h3>
			</div>
		</div>
		{% endif %}
		<!-- 
		<div class="actions">
			<span class="primary btn ()"><a href="#">{% trans "New Server Image" %}</a></span>
		</div>
		-->
	</div>
{% endblock %}
	