{% extends "management/base.html" %}
{% load i18n utils %}


{% block breadcrumb %}
	<a href="{% url management:index %}">{% trans "Manage Server Instances" %}</a> &raquo;
	<strong>{% trans "Servers" %}</strong>
{% endblock %}

{% block primary %}
	<div class="serverinstances">
		<h2>Servers</h2>
		
		{% if servers %}
		<table>
			<thead>
				<th class="nowrap">Instance ID</th>
				<th>Name</th>
				<th>State</th>
				<th>Public IP</th>
				<th>Public DNS</th>
			</thead>
			<tbody>
	 		{% for server in servers %}
				<tr>
					<td class="nowrap"><a href="{% url management:server-manage server.instance_id %}">{{server.instance.id}}</a></td>
					<td>{{server.name}}</td>
					<td>{{server.instance.state}}</td>
					<td>{{server.instance.ip_address}}</td>
					<td>{{server.instance.dns_name}}</td>
				</tr>
	 		{% endfor %}
			</tbody>
		</table>
		{% else %}
		<div class="notice info ()">
			<div class="wrap">
				<h3>{% trans "No server instances were found." %}</h3>
			</div>
		</div>
		{% endif %}

	</div>
{% endblock %}
