{% extends "management/base.html" %}
{% load i18n utils %}

{% block breadcrumb %}
	<a href="{% url management:index %}">{% trans "Manage Servers" %}</a> &raquo;
	<a href="{% url management:site-index %}">{% trans "Sites" %}</a> &raquo;
	<strong>{{ site.name }}</strong>
{% endblock %}

{% block primary %}
	<div class="sites">
		<h2>{% trans "Edit" %} {{ site.name }}</h2>
		<form action="" method="post" class="form">
	        {% csrf_token %}	
			<fieldset>
				<div class="form-row">
		            {{ form|formfields:"name" }}
		        </div>
				<div class="form-row">
		            {{ form|formfields:"url" }}
		        </div>
				<div class="form-row">
		            {{ form|formfields:"configuration" }}
					<span class="text">
						<a href="{% url management:serverconfiguration-add %}" onclick="return confirm('Are you sure you want to leave this page?')">{% trans "Add configuration" %}</a>
					</span>
		        </div>	
			</fieldset>
			
	        <div class="actions">
				<span class="primary btn ()"><input type="submit" value="Save" /></span>
				<span class="secondary btn ()"><a href="{% url management:site-delete site.slug %}">{% trans "Delete"%}</a></span>
	        </div>
	    </form>
	</div>
	
{% endblock %}